@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@500&display=swap");

body {
  color: white;
  margin: 0;
  position: absolute;
  font-family: "Red Hot Mono", monospace;
}
video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
#videobg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#date {
  color: white;
  cursor: default;
  user-select: none;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#dateformat,
#day {
  font-size: large;
}
#txt {
  padding-bottom: 1vh;
  margin-bottom: 0px;
}

#tdtitle {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 2.5vh;
}
#todolist {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: black;
}
#todolist:focus {
  outline: white;
}
#tdlist {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  font-size: larger;
  text-align: right;
  min-width: 33vw;
  right: 0;
}
@keyframes strike {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: auto;
  }
}
#tasks {
  text-align: left;
  transition: 300ms;
  cursor: pointer;
}
#tasks:hover {
  text-decoration: line-through;
  animation: strike 0.5s linear;
}

#npad {
  color: white;
  height: 10vh;
}
#container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  max-width: 33vw;
}
